@import "fonts.sass"

body 
    font-family: Aileron,LastResort,Times New Roman,Times,serif
    margin: 0

.header 
    position: relative
    overflow: hidden
    padding-bottom: 170px
    
    &::before
        content: ''
        position: absolute
        width: 1500px
        height: 1000px
        background-color: #f6f8f9
        transform: translateX(600px) rotate(148deg) 
        top: -542px
        right: 50%
        border-top-right-radius: 160px
        z-index: -2
    
    &::after 
        content: ''
        position: absolute
        background-color: #2f5bea
        width: 1100px
        height: 1100px
        transform: translateX(400px) rotate(-49deg)
        top: -550px
        left: 50%
        border-top-left-radius: 7%
        z-index: -1
 
    &__nav 
        max-width: 1105px
        width: 100%
        margin: auto
        margin-top: 35px
        display: flex
        text-align: center

    &__nav a 
        height: 31px
        color: #7e8085
        text-decoration: none
        font-size: 17px
    
    &__nav a + a:not(:last-child)
        margin-top: 5px
        height: 20px
        margin-left: 45px

    &__nav a + a:last-child
        margin-top: 5px
        height: 20px
        margin-left: 20px

    &__nav a:hover 
        cursor: pointer
        text-decoration: underline

    &__content 
        justify-content: space-between
        display: flex
        margin: auto
        margin-top: 115px
        max-width: 1100px
        width: 100%
        height: 445px
        align-items: center

    &__title
        align-items: center

    &__h1
        display: block
        text-transform: uppercase
        font-size: 48px
        font-weight: 900
        line-height: 58px
        margin-top: 32px
        max-width: 230px
        width: 100%
        margin-bottom: 0

    &__p
        color: #7e8085
        font-size: 21px
        line-height: 34px
        max-width: 360px
        width: 100%

    &__bth 
        border-radius: 50px
        background-color: #2f5bea
        text-align: center
        max-width: 205px
        width: 100%

    &__bth-setting
        line-height: 55px
        height: 55px
        display: block
        text-decoration: none
        text-transform: uppercase
        color: #fff
        font-size: 16px
        font-weight: 700

    &__video-preview
        display: block
        box-shadow: 0 0 30px rgba(0,0,0,.2)
        position: relative
        border-radius: 5px
        overflow: hidden
        cursor: pointer
    
    &__video-preview::before
        background: url(../images/ic/play.svg) no-repeat center center
        content: ""
        position: absolute
        height: 120px
        width: 120px
        background-color: #f1544b  
        border-radius: 50%          
        top: 50%
        left: 50%
        transform: translate(-60px, -60px)

@media (max-width: 1050px)
    header::after
        display: none
    
    .header__video-preview
        display: none

    .header__content
        justify-content: center
        margin-top: 30px
    
@media (max-width: 700px)
    .header__h1 
        text-align: center
        max-width: 400px
    
    .header__p 
        max-width: 400px
        text-align: center

    .header__bth
        margin: auto

    .header__nav 
        display: none

    .header 
        padding-bottom: 200px
    
    .header::before 
        top: -700px
        transform: translateX(900px) rotate(148deg)

.one
    display: flex
    flex-direction: column
    max-width: 1105px
    width: 100%
    margin: auto
    text-align: center

    &__header
        max-width: 836px
        width: 100%
        margin: auto

        &-h3
            font-size: 34px
            font-weight: 700
            line-height: 41px
            text-align: center
            margin: 0

        &-p 
            margin: auto
            margin-top: 23px
            color: #7e8085
            font-size: 18px
            font-weight: 600
            line-height: 34px
            text-align: center

    &__tols
        display: flex
        max-width: 920px
        width: 100%
        margin: auto
        margin-top: 75px
        justify-content: space-between

        &-icon
            align-items: center
            display: flex
            flex-direction: column

        &-icon > h5
            margin-top: 12px
            font-size: 22px
            font-weight: 700
            line-height: 25px
            text-align: center
            margin-bottom: 0

        &-icon > img 
            height: 50px
            width: 50px